/* === FOOTER === */

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-description {
    margin-right: 120px;
}

.page-footer {
    padding: 100px 0;
    background-color: #2E2F42;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    color: #4d5ae5;
}

.span-footer-logo {
    color: #f4f4fd;
}

.page-footer-paragraph {
    max-width: 264px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.header-social-icons {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-container {
    margin-right: 80px;
}

.social-container .icons-social-container {
    gap: 16px;
}

/* === Subscribe === */

.subscribe-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscriber-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    filter: 
        drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscriber-input,
.subscriber-input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.subscribe-sumbit {
    display: inline-flex;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    color: #FFFFFF;
    fill: #FFFFFF;
}

.icon-send {
    margin-left: 16px;
}
